server {
  listen 443 ssl;
  server_name _;

  ssl_certificate /etc/letsencrypt/live/example.com/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/example.com/privkey.pem;

  # Ensure "internal" requests (within AWS VPC for example) can be resolved
  # resolver 127.0.0.53;

  # Proxy all the request to the backend;
  location / {
    proxy_cache off;
    proxy_pass "http://127.0.0.1:3311";
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-Host $host;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }

  # The backend redirects the request to /reproxy;
  location /reproxy {
    # make this location internal-use only;
    internal;

    # proxy request using original http method
    set $method $upstream_http_x_method;
    proxy_method $method;

    # proxy request to the received X-Reproxy-URL value;
    set $reproxy $upstream_http_x_reproxy_url;
    proxy_pass $reproxy;
  }
}
